<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">
  
  <alternatives>
    <class>sample.cdi.bean.alternative.beansxml.TestBean</class>
  </alternatives>
  
<!--  <decorators>
    <class>sample.cdi.bean.decorator.MyDecorator1</class>
    <class>sample.cdi.bean.decorator.MyDecorator2</class>
  </decorators>-->
</beans>
